<script src="{{ asset('node_modules/chart.js/dist/Chart.min.js') }}"></script>

{% set firstView = fsc.views | first %}
{% set model = firstView.model %}

<div class="card shadow">
    {{ model.getChart().render() | raw }}
</div>